RewriteEngine on
<Limit PUT DELETE>
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_METHOD} PUT
    RewriteRule ^(.*)$ simply-edit/store.php [L]

    RewriteCond %{REQUEST_METHOD} DELETE
    RewriteRule ^(.*)$ simply-edit/store.php [L]
</Limit>
<Limit GET POST>
  RewriteRule ^logout$ simply-edit/logout.php [L]
</Limit>

Options +Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* simply-edit/router.php [L]
